
.slider_single_item {
    text-align:  center;
    /* width: 810px !IMPORTANT; */
    /* box-shadow: 0 10px 40px -10px rgba(131,174,219,.5); */
    /* box-shadow:  0 10px 40px -11px rgba(131,174,219,.5); */
    margin: 20px 10px;
    border-radius:  10px;
    position:  relative;
}

.sl_con_bt {
    margin-top:  20px;
    margin-bottom:  20px;
}

.sl_con_bt p {
    display:  inline-block;
}

.slick_slide_content {
    margin-top: 25px;
}

.slick_slide_img img {
    text-align:  center;
    margin:  0 auto;
}

.slider_single_item.slick-current {
    box-shadow:  0 10px 40px -11px rgba(131,174,219,.5);
}

.slider_single_item.slick-current:focus {
    outline:  none;
}

.slider_single_item:focus {
    outline:  none;
}

button.slick-next.slick-arrow {
    position:  absolute;
}

button.slick-next.slick-arrow {
    position:  absolute;
    right:  0;
    width: 14%;
    height: 100%;
    top: 0;
    background: transparent;
    border:  none;
}

.slick_slide_content p {
    padding: 0px 15px;
    text-align:  left;
    line-height:  2.7rem;
     font-size:  1.4rem; 
     font-weight:  normal; 
     color:  #687784; 
}

button.slick-prev.slick-arrow {
    position:  absolute;
    left:  0;
    width: 14%;
    height:  100%;
    top:0;
    z-index:  1;
    background: transparent;
    border:  none;
}

.def {
    width: 85px;
    text-align:  center;
    margin:  0 auto;
    height: 85px;
    border-radius: 100%;
    background: transparent;
    /* z-index:  1; */
    position:  relative;
    padding: 0px;
    overflow:  hidden;
    /* background:  red; */
}

.def {}

.def:after {
    position:  absolute;
    width:  100%;
    height:  100%;
    border-radius:  50%;
    /* background: blue; */
    z-index:  1;
    content:  "";
    top:  0;
    left: 0;
}
.def img {
    width:  100%;
    height:  100%;
}
.def img {
    width:  100%;
    height:  100%;
}
